body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(120deg, #0f172a, #1e293b);
    color: white;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD STYLE */
.card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    width: 350px;
}

/* DASHBOARD */
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    padding: 20px;
}

/* BUTTONS */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

/* IMAGE */
.result-img {
    width: 100%;
    border-radius: 10px;
}

/* BADGE */
.badge {
    background: #f59e0b;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
}

/* MAP */
#map {
    height: 250px;
    border-radius: 10px;
}